body {
  margin: 0px;
  padding: 0px;
  font-size:0.8em;
}

.network-status {
  display: none;
  width: 350px;
  height: 15px;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
}

.network-status__message {
  margin: 1px;
  padding: 0px;
  font-size: 0.8em;
  font-style: italic;
  color: red;
}

.error-message {
  /* display: none; */
  width: 350px;
  height: 15px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 0px;

  display: none;
  /* margin: 1px; */
  padding: 0px;
  font-size: 0.8em;
  font-style: italic;
  color: red;
}

.menu {
  width: 350px;
  margin: 15px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-size: 1.0em;
}

.today-section {
  display: none;
  width: 350px;
  padding: 0px;
}

.today-section__h2 {
  font-size: 1.4em;
  text-align: center;
}

.today-section__h3 {
  font-size: 1.1em;
  margin: 25px 15px 10px 15px;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid #D3D3D3;
}

.today-section__contents {
  min-height: 315px;
}

.today-section__card {
  width: 300px;
  margin: 15px 25px;
}

.today-section__score-board {
  margin: 15px 15px;
}

.today-section__video {
  /* 初めは隠しておく*/
  display: none;
}

.today-section__video-ul {
  width: 320px;
  margin: 10px 15px;
  padding: 0px;
  list-style: none;
}

.today-section__video-li {
    display: inline-block;
    width: 150px;
    margin: 5px;
    padding: 0px;
    vertical-align: top;
    font-size: 0.9em;
}

.today-section__video-thumbnail {
    display: block;
    width: 140px;
    margin: 0px auto;
}

.today-section__video-title {
    display: block;
    margin: 0px 5px;
}

.today-section__score-plays {
  margin: 15px 0px;
}

.today-section__no-game {
  display: none;
  width: 350px;
  height: 160px;
  margin: 0px;
  padding-top: 140px;
  text-align: center;
  font-style: italic;
  background-position: center;
  background-size: 240px 240px;
  background-repeat: no-repeat;
  background-color:rgba(255, 255, 255, 0.95);
  background-blend-mode:lighten;
}

.today-section__error-message {
  margin: 0px;
}

.today-section-contents {
  min-height: 300px;
}

.score-board {
  width: 320px;
  text-align: center;
  font-size: 1.0em;
  border-collapse: collapse;
}

.score-board th {
  border: 1px solid #D3D3D3;
  background-color: #F9F9F9F9;
}

.score-board td {
  border: 1px solid #D3D3D3;
}

.score-board__team-name {
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}

.score-board__total-score {
  font-weight: bold;
}

.score-plays {
  /* 初めは隠しておく*/
  display: none;
}

.score-plays__h3 {
  font-size: 1.1em;
  margin: 25px 15px 0px 15px;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid #D3D3D3;
}

.score-plays__ul {
  width: 320px;
  margin: 0px 15px;
  padding: 0px 0px;
  list-style: none;
}

.score-plays__li {
  margin: 0px 0px;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid #D3D3D3;
  font-size: 0.95em;
  /* background-position: right 15px top 15px;
  background-size: 27px 27px;
  background-repeat: no-repeat; */
  background-position: center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-color:rgba(255, 255, 255, 0.85);
  background-blend-mode:lighten;
}

.score-plays__video {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.score-plays__video-thumbnail {
  display: block;
  /* width: 240px; */
  width: 160px;
  margin: 0px auto;
}

.score-plays__video-title {
  display: block;
  font-size: 0.9em;
}

.footer {
  width: 350px;
  min-height: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  color: #999999;
}

.footer__text {
  margin: 0px;
}

.cards-section {
  display: none;
  width: 350px;
  padding: 0px;
}

.cards-section__h2 {
  text-align: center;
  font-size: 1.4em;
}

.cards-section__contents  {
  min-height: 315px;
}

.cards-section__error-message {
  margin: 0px;
}

.cards-section__cards {
  margin: 0px auto;
}

.cards-section__no-game {
  height: 160px;
  padding-top: 140px;
  font-style: italic;
  text-align: center;
  background-position: center;
  background-size: 240px 240px;
  background-repeat: no-repeat;
  background-color:rgba(255, 255, 255, 0.95);
  background-blend-mode:lighten;
}

.cards {
  width: 300px;
  padding: 0px;
  list-style: none;
}

.cards__card  {
  margin: 15px 0px;
}

.card {
  width: 300px;
  height: 90px;
  list-style: none;
}

.card__team {
  margin: 0px;
}

.card__game {
  margin: 0px;
}

.team {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width:30%;
  /* height:90px; vertical-alignを効かせるため設定しない */
  /*background: center top / 30px 30px no-repeat;*/
  background-position: center top;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.team__team-name {
   margin: 0px 0px 0px 0px;
   padding-top: 35px;
   font-size: 1.1em;
   font-weight:bold;
}

.team__pitchers {
  margin: 0px;
}

.pitchers {
  list-style: none;
  padding: 0px;
  font-size: 0.9em;
}

.game {
  display: inline-block;
  width: 40%;
  /* height: 90px; vertical-alignを効かせるため設定しない  */
  vertical-align: middle;
  text-align: center;
}

.game__kind {
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
}

.game__venue {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
}

.game__score {
  margin: 0.1em 0;
  padding: 0px;
  font-size: 1.4em;
  font-weight:bold;
}

.game__scheduled-starttime {
  margin: 0.1em 0;
  padding: 0px;
}

.game__status {
  margin: 0px;
  padding: 0px;
}

.standings-section {
  display: none;
  width: 350px;
  padding: 0px;
}

.standings-section__h2 {
  font-size: 1.4em;
  text-align: center;
}

.standings-section__contents {
  min-height: 315px;
}

.standings-section__standings {
  margin: 15px 15px;
}

.standings-section__error-message {
  margin: 0px;
}

.standings-section-contents {
  min-height: 300px;
}

.standings {
  width: 320px;
  height: 200px;
  text-align: center;
  font-size: 1.0em;
  border-collapse: collapse;
}

.standings th {
  border: 1px solid #D3D3D3;
  background-color: #F9F9F9F9;
}

.standings td {
  border: 1px solid #D3D3D3;
}

.standings__favoriteTeam {
  background-color: #FFE8E8;
}

.standings__standing {
  font-weight: bold;
}

.standings__team-name {
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}

.radio-section {
  display: none;
  width: 350px;
  padding: 0px;
}

.radio-section__contents {
  min-height: 315px;
}

.radio-section__h2 {
  text-align: center;
  font-size: 1.4em;
}

.radio-section__h3 {
  margin: 5px 0px;
  padding: 0px;
  font-size: 1.1em;
}

.radio-section__audio-player {
  margin: 0px 0px;
  text-align: center;
}

.radio-section__tab-menu-ul {
  margin: 15px auto;
  padding: 0px 0px;
  list-style: none;
  text-align: center;
}

.radio-section__tab-menu-li {
  margin: 0px 0px;
  padding: 0px 10px;
  display: inline-block;
  text-align: center;
}

.radio-section__tab-menu-li_left-border { /*:last-child*/
  border-left: 1px solid #D3D3D3;
}

.radio-section__selected-tab-menu {
  text-decoration: none;
  color: inherit;
}

.radio-section__now-on-air {
  margin: 10px 20px;
}

.radio-section__now-on-air-term {
  margin: 0px 0px;
  font-size: 1.0em;
}

.radio-section__now-on-air-h4 {
  margin: 0px;
  padding: 0px;
}

.radio-section__now-on-air-content {
  margin: 10px 0px;
  font-size: 1.0em;
}

.radio-section__timetable {
  margin: 10px 20px;
}

.radio-section__timetable-ul{
    margin: 0px 0px;
    padding: 0px 0px;
    list-style: none;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}

.radio-section__timetable-li {
    display: flex;
    border-top: 1px solid #D3D3D3;
    background-color: #F9F9F9F9;
}

.radio-section__timetable-li_highlight-background {
    background-color: #FFE8E8;
}

.radio-section__timetable-program-term {
    width: 40px;
    margin: auto 0px;
    padding: 10px 10px;
    text-align: center;
}

.radio-section__timetable-program-content {
    width: 280px;
    margin: 0px 0px;
    padding: 5px 5px;
    border-left: 1px solid #D3D3D3;
    background-color: #FFFFFF;
}

.radio-section__error-message {
  margin: 0px;
}

.status__message {
  display: none;
  margin: 1px;
  padding: 0px;
  font-size: 0.8em;
  font-style: italic;
  color: red;
}


.preference-section {
  display: none;
  width: 350px;
  padding: 0px;
}

.preference-section__h2 {
  text-align: center;
}

.preference-section__dl {
  margin: 0px 0px 10px 30px;
  font-size: 1.0em;
}

.preference-section__dd {
  margin: 5px 0px 5px 20px;
}

.preference-section__buttons {
  margin: 5px 0px 5px 25px;
}

.preference-section__error-message {
  margin: 0px;
}

.preference-section__update-message {
  margin: 0px;
  font-size: 0.9em;
}

.team1 {
  background-image: url(../assets/img/teamLogos/1.png);
  /* background-image: url(../assets/img/teamLogos/G.png); */
}
.team2 {
  background-image: url(../assets/img/teamLogos/2.png);
  /* background-image: url(../assets/img/teamLogos/S.png); */
}

.team3 {
  background-image: url(../assets/img/teamLogos/3.png);
  /* background-image: url(../assets/img/teamLogos/DB.png); */
}

.team4 {
  background-image: url(../assets/img/teamLogos/4.png);
  /* background-image: url(../assets/img/teamLogos/D.png); */
}

.team5 {
  background-image: url(../assets/img/teamLogos/5.png);
  /* background-image: url(../assets/img/teamLogos/T.png); */
}

.team6 {
  background-image: url(../assets/img/teamLogos/6.png);
  /* background-image: url(../assets/img/teamLogos/C.png); */
}

.team7 {
  background-image: url(../assets/img/teamLogos/7.png);
  /* background-image: url(../assets/img/teamLogos/L.png); */
}

.team8 {
  background-image: url(../assets/img/teamLogos/8.png);
  /* background-image: url(../assets/img/teamLogos/F.png); */
}

.team9 {
  background-image: url(../assets/img/teamLogos/9.png);
  /* background-image: url(../assets/img/teamLogos/M.png); */
}

.team11 {
  background-image: url(../assets/img/teamLogos/11.png);
  /* background-image: url(../assets/img/teamLogos/Bs.png); */
}

.team12 {
  background-image: url(../assets/img/teamLogos/12.png);
  /* background-image: url(../assets/img/teamLogos/H.png); */
}

.team376 {
  background-image: url(../assets/img/teamLogos/376.png);
  /* background-image: url(../assets/img/teamLogos/E.png); */
}

/* パシフィックリーグ */
.team15 {
  background-image: url(../assets/img/teamLogos/Pl.png);
}

/* セントラルリーグ */
.team16 {
  background-image: url(../assets/img/teamLogos/Cl.png);
}
